*{
    margin: 0%;
    padding: 0%;
}

.main{
    
    font-family: poppins;
    margin-top: 100px;
    animation: transitionIn 0.9s;
    text-align: left;
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.div3{
    float: left;
    /* vertical-align: middle; */
    width:23%;
    height: fit-content;
    display: block;
    margin: 10px;
}

.div4{
    float:left;
    /* vertical-align: middle; */
    height: fit-content;
    width:50%;
  
    margin: 10px 0px 10px 10px;
}

